body {
  overflow: hidden;
}

.bi {
  display:inline-block;
  vertical-align: -.125em;
  width: 1em;
  height: 1em;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}

body {
  font-family: sans-serif;
  line-height: 1.6;
}

#editorjs {
  padding: 10px;
}

.ce-toolbar__settings-btn{
  color: white;
}

.ce-toolbar__plus{
  color: white;
}

@media (hover: hover) {
  .ce-toolbar__settings-btn:hover {
    color: black;
  }
  .ce-toolbar__plus:hover {
    color: black;
  }
}

::selection {
  background: #fff;
  color: black;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.video-container iframe,
.video-container #player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} 

#offCanvasMobileDevice {
  border-right: 0;
  border-left: 0;
  width: 100%;
}

.main-container {
  height: calc(100vh - 58px); /* Adjust for header and footer */
  overflow: hidden;
}

.column-a {
  height: 100%;
  overflow: hidden; /* No scrolling for Column A */
  display: flex;
  flex-direction: column;
}

.column-b {
  height: 100%;
  overflow: hidden; /* No scrolling for Column B */
  display: flex;
  flex-direction: column;
}

#editorjs {
  min-height: 100%;
}

.gray {
  color:#6c757d;
}

@keyframes pulse-once {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.pulse-once {
  animation: pulse-once 0.3s ease-in-out;
}